.btn {
  background-color: $gray-dark;
  border: 2px solid transparent;
  border-radius: 999px;
  color: $white;
  cursor: pointer;
  display: inline-block;
  font-size: 13px;
  font-weight: $font-weight-bold;
  margin: 5px 0;
  padding: 20px 25px;
  text-align: center;
  transition: 0.2s ease-in-out;

  &:hover {
    background-color: transparent;
    border-color: $gray-dark;
    color: $gray-dark;
  }

  @include medium-up {
    font-size: $font-size-5;
  }

  &--outline {
    background-color: transparent;
    border-color: $gray-dark;
    color: $gray-dark;

    &:hover {
      background-color: $gray-dark;
      border-color: transparent;
      color: $white;
    }
  }

  &--green {
    background-color: $green-primary;

    &:hover {
      background-color: transparent;
      border-color: $green-primary;
      color: $green-primary;
    }
  }

  &--small {
    padding: 12px 25px;
  }
}

.btn-menu {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: inline-block;
  z-index: 10;

  &:hover {
    svg,
    path {
      stroke: $gray-dark;
    }
  }

  @include medium-up {
    display: none;
  }
}
