.btn {
}

.btn-menu {
  display: inline-block;
  cursor: pointer;
  z-index: 10;
  border: none;
  background-color: transparent;

  &:hover {
    svg,
    path {
      stroke: $violet-primary;
    }
  }

  @include medium-up {
    display: none;
  }
}
