.navigation {
  &--desktop {
    display: none;

    @include medium-up {
      display: block;
      margin-left: -50px;
    }

    @include large-up {
      margin-left: -100px;
    }

    & ul {
      display: flex;
    }

    & a {
      color: $gray-dark;
      margin: 0 30px;

      &:hover {
        color: $green-primary;
      }

      &.active {
        font-weight: $font-weight-bold;
      }
    }
  }
}
